<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Church Tweets!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body>
  <header>
    <h1>Church Tweets</h1>
  </header>
  <nav>
    <ul class="navbar">
      <% navData.forEach(row => { %>
        <%- '<li class="navItem" id="' + row.ta_id + '">' + row.ta_screen_name + '</li>' %> 
      <% }); %>
    </ul>
  </nav>
  <main>
    <div class="twitterBox">
    </div>
  </main>
  <script src="/js/main.js"></script>
</body>

</html>